name: PR Message Check

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: read
  contents: read

jobs:
  check:
    name: Check PR Title
    runs-on: ubuntu-latest

    steps:
      - name: Check PR Title
        uses: deepakputhraya/action-pr-title@master
        with:
          allowed_prefixes: 'Patch:,Feature:,Breaking:'
          prefix_case_sensitive: true
          min_length: 5
          github_token: ${{ github.token }}
